<%
page.banner_img = page.banner_img || theme.post.banner_img
page.banner_img_height = page.banner_img_height || theme.post.banner_img_height
page.banner_mask_alpha = page.banner_mask_alpha || theme.post.banner_mask_alpha
%>

<div class="container-fluid nopadding-x">
  <div class="row nomargin-x">
    <div class="side-col d-none d-lg-block col-lg-2">
      <%- inject_point('postLeft') %>
    </div>

    <div class="col-lg-8 nopadding-x-md">
      <div class="container nopadding-x-md" id="board-ctn">
        <div id="board">
          <article class="post-content mx-auto">
            <h1 id="seo-header"><%= page.subtitle || page.title %></h1>
            <% if (theme.post.updated.enable && theme.post.updated && compare_date(page.date, page.updated)) { %>
              <p class="note note-<%= theme.post.updated.note_class || 'info' %>">
                <% if (theme.post.updated.relative) { %>
                  <% if (theme.post.updated.content) { %>
                    <!-- compatible with older versions-->
                    <%- theme.post.updated.content %><%- relative_date(page.updated, theme.post.updated.date_format) %>
                  <% } else { %>
                    <%- __('post.updated', relative_date(page.updated, theme.post.updated.date_format)) %>
                  <% } %>
                <% } else { %>
                  <% if (theme.post.updated.content) { %>
                    <!-- compatible with older versions-->
                    <%- theme.post.updated.content %><%- date(page.updated, theme.post.updated.date_format) %>
                  <% } else { %>
                    <%- __('post.updated', date(page.updated, theme.post.updated.date_format)) %>
                  <% } %>
                <% } %>
              </p>
            <% } %>
            <% if (page.encrypt === true) { %>
              <%- inject_point('postMarkdownBegin') %>
              <%- page.content %>
              <%- partial('_partials/plugins/encrypt') %>
              <%- inject_point('postMarkdownEnd') %>
            <% } else { %>
              <div class="markdown-body">
                <%- inject_point('postMarkdownBegin') %>
                <%- page.content %>
                <%- inject_point('postMarkdownEnd') %>
              </div>
            <% } %>


<div style="text-align:right;"> <!-- 自己添加的“分享到”模块：开始。用的是 social-share.js。让所有的分享按钮右对齐-->
	
	<div class="social-share-container" style="margin-top: 15px;"> <!-- 生成一组分享按钮 -->
		<% if (config.language == 'zh-CN') {%> <!--如果博客语言是中文，就显示“点击分享到：”，非中文一律显示“Share it:”-->
			点击分享到：&nbsp;&nbsp;
		<% } else { %>
			Share it:&nbsp;&nbsp;
		<% } %>
	</div>
	<!-- 加载 jQuery 库 -->
	<%- js('/js/jquery.min.js') %>
	<!-- 导入 qrcode.min.js -->
	<%- js('/js/qrcode.min.js') %>
	<!-- 加载 social-share.js 的 js 库，另外还要加载 social-share.js 的 CSS，可以修改 `_config.fluid.yml` 的 `custom_css` 加载，也可以修改 `themes/fluid/layout/_partial/css.ejs` 加载。-->
	<%- js('/js/social-share.min.js') %>
	<script> 
	/* 执行 js 代码，new 一个新对象，详见 social-share.js 在 GitHub 的文档 */
		new SocialShare('.social-share-container', {
			theme: 'circle',  // 使用圆形主题
			// 单独定义wechat分享参数
			wechat: {
				sort: 1, // 排序参数，数字较小的展示在前面,默认999
			}
		});		
	</script>
</div> <!-- 自己添加的“分享到”模块：结束。-->



            <hr/>
            <div>
              <%- inject_point('postMetaBottom') %>

              <%- inject_point('postCopyright') %>

              <% if (theme.post.prev_next.enable && !page.hide) { %>
                <div class="post-prevnext my-3">
                  <article class="post-prev col-6">
                    <% const prev = prev_post(page) %>
                    <% if (prev) { %>
                      <a href="<%= url_for(prev.path) %>" title="<%= prev.title %>">
                        <i class="iconfont icon-arrowleft"></i>
                        <span class="hidden-mobile"><%= prev.title %></span>
                        <span class="visible-mobile"><%- __('post.prev_post') %></span>
                      </a>
                    <% } %>
                  </article>
                  <article class="post-next col-6">
                    <% const next = next_post(page) %>
                    <% if (next) { %>
                      <a href="<%= url_for(next.path) %>" title="<%= next.title %>">
                        <span class="hidden-mobile"><%= next.title %></span>
                        <span class="visible-mobile"><%- __('post.next_post') %></span>
                        <i class="iconfont icon-arrowright"></i>
                      </a>
                    <% } %>
                  </article>
                </div>
              <% } %>
            </div>

            <%- inject_point('postComments') %>
          </article>
        </div>
      </div>
    </div>

    <div class="side-col d-none d-lg-block col-lg-2">
      <%- inject_point('postRight') %>
    </div>
  </div>
</div>

<%- partial('_partials/markdown-plugins') %>

<% if(theme.post.custom && theme.post.custom.enable && theme.post.custom.content && page.custom !== false) { %>
  <!-- Custom -->
  <div class="col-lg-7 mx-auto nopadding-x-md">
    <div class="container custom post-custom mx-auto">
      <%- page.custom || theme.post.custom.content %>
    </div>
  </div>
<% } %>
